<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/static/main2.css" />
    <title>Document</title>
  </head>
  <body>
    {% if not current_user.is_anonymous %}
    <form method="POST" action="{{ url_for('customers.logout') }}">
      <button>Logout</button>
    </form>
    {% endif %}
    <div class="top_bar">
      <h1 class="left_bar">WELCOME!</h1>
      <div class="right_bar">
        <a class="cart" href="">Cart</a>
        <button class="ls_button">Login</button>
        <button class="ls_button">Signup</button>
        <!--  <a href="">Your orders</a> -->
      </div>
    </div>
    <div class="links">
      <div>
        <a class="link" href="/customers"> See all customers</a>
      </div>
      <div>
        <a class="link" href="/products"> See all products</a>
      </div>
    </div>
    {% block content %}{% endblock %}
  </body>
</html>
